body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
 background-image: url('https://images.unsplash.com/photo-1524985069026-dd778a71c7b4');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  color: white;
}

.app-container {
  text-align: center;
  background: rgba(0, 0, 0, 0.7); /* dark overlay */
  padding: 40px;
  border-radius: 10px;
  width: 80%;
  margin: 40px auto;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
}

h1 {
  color: #ffcc00;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 60%;
  margin-right: 10px;
  font-size: 1rem;
}

button {
  padding: 10px 20px;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #ffdd44;
}

.movie-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin: 20px;
  padding: 15px;
  display: inline-block;
  width: 200px;
  color: white;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
  transition: transform 0.2s;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}
